<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Regression" parallel="tests" thread-count="7">
<test name="it">
<parameter name="website" value="http://www.amazon.com"></parameter>
<parameter name="browser" value="Edge"></parameter>
<classes>
<class name="TestNg.Amazon_PagesTest"> </class>
<class name="TestNg.NewTestSession"></class>
</classes>
</test>
<test name="gt">
<parameter name="website" value="http://www.facebook.com"></parameter>
<parameter name="browser" value="Chrome"></parameter>
<classes>
<class name="TestNg.Providing"></class>
</classes>
</test>
</suite>